body {
    font-family: 'Montserrat';
}

/*koumpi paso */
#pass { 
    margin-left: 1300px;
}


button {
    background-color: #808080;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: 15px;
    padding: 10px 30px;
    text-shadow: 0 0 5px #ffffff;
    transition: background-color 0.5s, text-shadow 0.5s;
}

button:hover {
    background-color: #cc0000;
    text-shadow: 0 0 15px #ffffff;
}

button:active {
    background-color: #000000;
}

#Red {
    position: absolute;
    margin-top: 12%;
    margin-left: 35%;
}

#top_card {
    position: absolute;
    margin-top: 12%;
    margin-left: 55%;
    height: 125px;
  	width: 100px;

    
}


.player_box {
    text-align: center;
    position: relative;
    border-radius: 15px;
    border: 5px solid #808080;
    background-color: #808080;
    width: 20%;
}



p {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}

.top {
    margin: auto;
    top: 2%;
}


.bottom {
    left: 40%;
    position: absolute;
    bottom: 25%;
}

#p{
	position: absolute;
	height:100px;
    width: 30%;

}

#myDIV {
  width: 30%;
  padding: 10px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display: none;
}

.controls{
	margin-top: -100px;
}
#rules {
	margin-top: 30px;
}